{% extends 'rus/base.html' %}
{% block content %}


    <div class="topic blogs">
        <div class="content-section">
            <div class="container">
                <div class="row" style="padding-left: 15px; padding-right: 15px;">
                    <h1 class="page-title">Блог</h1>
                    {% if blogs %}
                        <div class="card-columns">
                            {% for item in blogs %}
                                <div class="card card-detail" id="{{ item.id }}">
                                    <a href="/blog/{{ item.code }}/">
                                        {#                                    <a data-fancybox="gallery" href="{{ item.url }}">#}
                                        <img class="card-img card-img-detail za" src="{{ item.picture }}"
                                             alt="{{ item.title }}">
                                        {#                                    </a>#}
                                        {#                                <div class="card-body">#}
                                        {% if item.title %}
                                            <h5 class="card-title-detail">{{ item.title }}</h5>
                                        {% endif %}
                                        {% if item.preview_text %}
                                            <p class="card-text-detail">{{ item.preview_text }}</p>
                                        {% endif %}
                                        {#                                </div>#}
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div> <!-- /.row -->
            </div>
        </div>
    </div>

{% endblock %}