{% extends 'rus/base.html' %}
{% block content %}


<div class="topic">
    <div class="content-section">
        <div class="container">
            <div class="topic-main-img">
                <img src="{{ blog.picture }}">
                <a class="all-topic-link" href="/blogs/">
                    <span class="arrow left"></span>Весь блог</a>
            </div>
            <div class="topic-texts">
                {% if blog.title %}
                    <h2 class="topic-title">{{ blog.title }}</h2>
                {% endif %}

                {% if blog.text %}
                    <p class="topic-description">{{ blog.text }}</p>
                {% endif %}

                {% if blog.last_updated %}
                    <p class="topic-description">{{ blog.last_updated }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}