{% extends 'rus_app/base.html' %}
{% block content %}

    <div class="topic">
        <div class="content-section">
            <div class="container">
                <div class="topic-main-img">
                    <img src="{{ topic.url }}">
                    <a class="all-topic-link" href="/topics/">
                        <span class="arrow left"></span>Все альбомы</a>
                </div>
                <div class="topic-texts">
                    {% if topic.title %}
                        <h2 class="topic-title">{{ topic.title }}</h2>
                    {% endif %}

                    {% if topic.description %}
                        <p class="topic-description">{{ topic.description }}</p>
                    {% endif %}
                </div>


                <div class="row" style="padding-left: 15px; padding-right: 15px;">
                    {% if gallery %}
                        <div class="card-columns">
                            {% for item in gallery %}
                                <div class="card card-detail">
                                    <a data-fancybox="gallery" href="{{ item.url }}">
                                        <img class="card-img card-img-detail" src="{{ item.url }}"
                                             alt="{{ item.title }}">
                                    </a>
                                    {#                                <div class="card-body">#}
                                    {% if item.title %}
                                        <h5 class="card-title-detail">{{ item.title }}</h5>
                                    {% endif %}
                                    {% if item.description %}
                                        <p class="card-text-detail">{{ item.description }}</p>
                                    {% endif %}
                                    {#                                </div>#}
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div> <!-- /.row -->
            </div>
        </div>
    </div>

{% endblock %}